In [1]:
import pandas as pd
import numpy as np

In [3]:
sales = pd.read_excel("Sample Data.xlsx", sheet_name="Sales")
product = pd.read_excel("Sample Data.xlsx", sheet_name="Products")
stores = pd.read_excel("Sample Data.xlsx", sheet_name="Stores")
salePrices = pd.read_excel("Sample Data.xlsx", sheet_name="Sale Prices")
holidays = pd.read_excel("Sample Data.xlsx", sheet_name="Holidays")

In [83]:
## Report 3##
report3 = pd.merge(sales, salePrices, how='left', on = ['productid', 'date'])

In [84]:
report3 = pd.merge(report3, product, on='productid')

In [85]:
report3.head()

,storeid,productid,date,quantity,saleprice,manufacturer,name,categoryname,retailprice,maxdiscount,Test
0,590,112,2000-01-01,3,NaN,Rappickover WorldWide Company,Hapwerpor,CD,386.48,0.39,False
1,590,112,2000-01-01,3,NaN,Rappickover WorldWide Company,Hapwerpor,DVD,386.48,0.39,False
2,590,112,2000-01-01,3,NaN,Rappickover WorldWide Company,Hapwerpor,Video Camera,386.48,0.39,False
3,567,112,2000-02-27,7,NaN,Rappickover WorldWide Company,Hapwerpor,CD,386.48,0.39,False
4,567,112,2000-02-27,7,NaN,Rappickover WorldWide Company,Hapwerpor,DVD,386.48,0.39,False

In [86]:
#Create column to calculate percentagediscount
import math
def percent_discount(x, y):
    '''
    Function to compute % Discount. If saleprice is NaN, return 0 for % discount because this means that there was no sale price.
    Else return the % discount.
    '''
    if math.isnan(y):
        return 0
    else:
        return (x - y) / x
#total2['percentagediscount'] = (total2['retailprice'] - total2['saleprice'])/total2['retailprice']
report3['percentagediscount'] = report3[['retailprice', 'saleprice']].apply(lambda x: percent_discount(*x), axis=1)

In [87]:
report3.head()

,storeid,productid,date,quantity,saleprice,manufacturer,name,categoryname,retailprice,maxdiscount,Test,percentagediscount
0,590,112,2000-01-01,3,NaN,Rappickover WorldWide Company,Hapwerpor,CD,386.48,0.39,False,0.0
1,590,112,2000-01-01,3,NaN,Rappickover WorldWide Company,Hapwerpor,DVD,386.48,0.39,False,0.0
2,590,112,2000-01-01,3,NaN,Rappickover WorldWide Company,Hapwerpor,Video Camera,386.48,0.39,False,0.0
3,567,112,2000-02-27,7,NaN,Rappickover WorldWide Company,Hapwerpor,CD,386.48,0.39,False,0.0
4,567,112,2000-02-27,7,NaN,Rappickover WorldWide Company,Hapwerpor,DVD,386.48,0.39,False,0.0

In [114]:
## Check first row (Supbanantor row) ##

##Check that product id 25244 and price 8792.66 has 13 sale items purchased and 86 retail items purchased
check1 = report3[(report3['productid'] == 25244) & (report3['retailprice'] == 8792.66)]
print("Sale Items Purchased")
print(check1[check1['saleprice'].notnull()][['storeid', 'quantity']].drop_duplicates()['quantity'].sum())
print("-----")
print("Full price items purchased")
print(check1[check1['saleprice'].isnull()][['storeid', 'quantity']].drop_duplicates()['quantity'].sum())
print("-----")
print("actual revenue")

Sale Items Purchased
13
-----
Full price items purchased
86

In [129]:
#Check actual revenue
report3[(report3['categoryname'] == 'GPS') & (report3['name'] == 'Inkilentor') & (report3['percentagediscount'] == 0)]

101